.div-cards {
  display: flex;
  justify-content: center;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  grid-column-gap: 50px;
}

.btn-all {
  width: 100%;
}

.card-text {
  font-weight: 500;
}

.alert {
  display: none;
}

input:invalid + span:after {
  content: "✖";
  padding-left: 5px;
}

input:valid + span:after {
  content: "✓";
  padding-left: 5px;
}
