.div-cards {
    display: flex;
    justify-content: center;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-column-gap: 50px;
}

