.form-signin-detalles-orden{
  margin-top: 5%;
  margin-right: 15%;
  margin-left: 15%;
}

.table-detalles-ordenes {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

.tr-detalles-ordenes:nth-child(even) {
  background-color: #424547;
  color: white;
}

.tr-detalles-ordenes:hover .td-detalles-ordenes {
  background-color: rgb(196, 196, 196);
  color: black;
  font-weight: 700;
}

.th-detalles-ordenes, .td-detalles-ordenes {
  width: 25%;
  text-align: center;
  vertical-align: top;
  border-collapse: collapse;
  padding: 0.4em;
}

.thrad-detalles-orden {
  color: white;
  background-color: #198754;
  border-bottom: solid 5px #023a20;
}
